.custom-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.custom_label {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.custom_input_filed {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  color: #000;
  outline: none;
  width: 100%;
}
.required_value {
  color: red;
}
.error {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;
  background-color: rgb(238, 160, 160);
  border-radius: 4px;
  padding: 0px 10px;
  margin-top: 4px;
}
.error_icon {
  width: 14px;
  height: 14px;
}
.error_text {
  font-size: 13px;
  font-weight: 600;
  color: #df3333;
}
.custom-input-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
