.feedback-section {
  padding: 40px 100px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}
.feedback-list {
  margin-top: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.feedback-list-container-top {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 400px;
}
.feedback-list-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.delete_button {
  width: 140px;
  height: 40px;
  background-color: #da4545;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}
.feedback-list-item {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}
.feedback-list-item::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.feedback-list-item::-webkit-scrollbar-thumb {
  background-color: rgb(192, 184, 184);
  border-radius: 6px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  white-space: nowrap;
  padding: 8px 16px;
  background: #f7e2f7;
  font-size: 14px;
  font-weight: 500px;
  color: rgb(77, 75, 75);
}
th,
td {
  margin: 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.remove-border {
  border-right: none;
}
.row {
  height: 48px;
  background-color: white;
}

td {
  white-space: nowrap;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 500px;
  color: rgb(77, 75, 75);
}
.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(77, 75, 75);
  font-style: italic;
  background-color: white;
}
.feedback-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2px;
}
.feedback-list-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.reload_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.filter-input-icon {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}
.input_search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
}
.add_button {
  width: 140px;
  height: 40px;
  background-color: #45da6a;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}
.filter-input-reload {
  width: 50px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}
